body {
  margin: 0;
  padding: 0;
  background-color: #111;
  min-height: 100vh;
  font-family: 'Jetbrains Mono';
  position: relative;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url(../fonts/JetBrainsMono-Regular.woff2),
    url(../fonts/JetBrainsMono-Italic.woff2)
}

/* #region 标题 start */

.title {
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-weight: bold;
  color: #333;
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}

.title::after {
  content: 'YOYOPortfolio';
  color: transparent;
  /* 开启绝对定位，使两段文字重合 */
  position: absolute;
  top: 0;
  left: 0;
  /* 使文字变成渐变色 */
  background: url(./index-background.svg) center/100%;
  background-clip: text;
  /* 聚光灯特效，圆形区域裁剪。后来回移动 */
  clip-path: circle(100px at 100% 50%);
  animation: moveLight 5s infinite;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes moveLight {
  0% {
    clip-path: circle(100px at 0% 50%);
  }

  50% {
    clip-path: circle(100px at 100% 50%);
  }

  100% {
    clip-path: circle(100px at 0% 50%);
  }
}

/* #endregion 标题 end */


/* #region 导航 start */

nav {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

nav .button {
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: rgba(181, 242, 38, 1);
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  text-align: center;
  line-height: 50px;
  transition: all 200ms ease;
}

nav .button:hover{
  background-color: rgba(97, 90, 227, 1);
  width: 400px;
}

nav .button span{
  display: inline;
}
nav .button:hover span{
  display: none;
}

nav .button a{
  display: none;
  color: white;
  text-decoration: none;
}

nav .button:hover a{
  display: inline;
}
/* #endregion 导航 end */